page-allBookDetails{
    .semesterName{
        color: white;
        font-size: 16px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }
    .semesterDiv{
        background-color: darkslateblue;
        padding:4px;
    }
    .scroll-content{
        //margin-top:75px!important;
        margin-bottom:50px!important;
    }
    .imageClass{
        height: 150px;
        width:120px;
    }
    .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
        margin: 4px 12px 4px 0;
    }
    .item-md, .item-ios{
        padding-left: 8px;
    }
    .label-md, .label-ios{
        font-size: 14px;
    }
    .card-md,.card-ios{
       width: calc(100% - 10px) !important;
       margin: 5px !important;
    }
    .btnAddToCart{
        background-color: darkslateblue;
        color: white;
        float: right;
        font-size: 10px;
        height: 25px;
        margin-top: 10px;
    }
    .priceColor{
        color: darkslateblue;
    }
    .bookName{
        margin-bottom: 6px;
    }
    .bookQuantity{
        padding-bottom: 4px;
        padding-top: 6px;
    }
}