page-register {

  .HeaderBackground{
        height:28vw;
        width: 100%;
        background-color:darkslateblue;
    }

  .logo{
       position: relative;
       bottom: 0px;
       width: 28vw;
       height: 28vw;
       margin-top: -50px;
       background:rgb(47, 164, 231);
       border-radius: 50%;
    }
  
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
     background-image: none !important;   
    }
   
   .logoStyle{
    text-align:center;  
    background-color:transparent;
   }  

   .content-header{
      padding-top:8px ;
      width: 100%!important;
    }

    .ion-select {
      display: flex;
      overflow: hidden;
      max-width: 100% !important;
    }
    .select-box{
      color: gray;
      background: white;
      max-width: 95% !important;
    }

    .upper-text {
      font-size: 13px;
      color: #909090;
      padding-left: 5% !important;
    }
    
    .lower-text {
      font-size: 13px;
      color: #606060;
    }

    .btn{
      background-color: darkslateblue;
      height:10vw;
      color:white;
    }

    .card-md,.card-ios{
       width: calc(100% - 10px) !important;
       margin: 5px !important;
    }
    
    .button-md,.button-ios{
      background-color: darkslateblue
    }

    .button-md:hover:not(.disable-hover) {
      background-color: darkslateblue !important;
     }

    [col-12]{
     padding: 2px;
    }  


}
