page-mystuff {

    .heading-selected {
        color: #ffffff;
        border-bottom:2px solid #ffffff;
      } 
    
    .event-header {
        background:darkslateblue;
        padding-top: 10px;
        height:37px;
    }

    .event-heading {
        width: 33.3%;
        float: left;
        text-align: center;
        color: white;
    } 

    .scroll-content{
        margin-top:85px!important;
    }
     
    .swiper-slide {
        align-items: flex-start !important;
    } 
      
    .card-content-ios,.card-content-md{
        padding:2vw;
        text-align: left
        
    }  

    .my-padding{
        padding: 0px;
    }
    
    .btn-mycolor{
        background-color: darkslateblue !important;
    }

    .button-clear-ios,.button-clear-md {
        padding: 0vw;
    }

    .col {
       padding: 0px !important; 
    }

    .card-md,.card-ios{
        width: calc(100% - 10px) !important;
        margin: 5px !important;
     }

}
