page-addquestion {

    .textarea-style{
      height:70vw;
      background-color: color($colors, groundcolor) !important;
      border-radius: 2px;
      color:color($colors,lightgraycolor);
      padding: 10px; 
    }
    ion-textarea{
        border-bottom: none !important;
    }
    .textarea-title{
      height:20vw;
      background-color: color($colors, groundcolor) !important;
      border-radius: 2px;
      color:color($colors,lightgraycolor);
      padding: 10px;  
    }

    .button-ios,.button-md{
      background-color: color($colors,mainColor);
      color:white;
    }

    .item-md,.item-ios{
        padding: 2vw !important;
    }

    .item-md.item-block, .item-ios.item-block ,.item-inner {
     padding-right: 1vw;
     border-bottom: none !important;
   }

}
