page-companydetail {

    .divcontent{
        height: 45vw;
        width: 100%;
        overflow-y:hidden;
    }

    .mybtn-color{
        background-color: darkslateblue;
        padding: 4vw;
    }

    .icon-size{
       font-size: 10vw;
       color: #ffffff;
    }

    .category-span{
        border:2px solid gray;
        color:gray;
        border-radius: 5px;
        padding: 2vw;
    }

    .card-md,.card-ios{
        width: calc(100% - 10px) !important;
        margin: 5px !important;
     }

     
}
