<!--
  Generated template for the CompanydetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="divcontent">
    <img src="assets/imgs/questioncard.jpg" />
  </div>
  <ion-card>
    <ion-card-content>
      <ion-card-title class="description-text" style="padding:1vw 3vw 1vw 3vw;">
        <b>RainBow Resorts</b>
      </ion-card-title>
      <ion-item>
        <ion-icon name="ios-pin-outline" item-start></ion-icon>

        <h3 class="course-card-heading common-text" style="color:darkslateblue;white-space:normal;"><b>Rainbow Resorts Water park : Amritsar</b></h3>
        <p class="common-text" style="padding-top:1vw;white-space:normal;"> 16 Milestone, Attari border road, Amritsar..</p>
      </ion-item>
      <ion-item>
        <h3 class="course-card-heading common-text" style="color:darkslateblue;white-space:normal;padding:2vw;">
          <b><span class="category-span">Web Development</span></b>
        </h3>
        <button ion-button item-end style="padding: 4vw;" class="mybtn-color">Call Us</button>
      </ion-item>
    </ion-card-content>
    <div style="padding:4vw;" class="common-text">

      <ion-label><b>About Company</b></ion-label>
      <ion-label style="padding-top:2vw;"> What I need is to put icon to the far end of the row, but when I load the page, the icon is only to the right of the
        content, not float to the right of the whole row. I followed ionic doc, but I can not find out their source code
        for the demo, for example. What I need is to put icon to the far end of the row, but when I load the page, the icon
        is only to the right of the content, not float to the right of the whole row. I followed ionic doc, but I can not
        find out their source code for the demo, for example: here:
      </ion-label>

    </div>
  </ion-card>

   <ion-card class="term-card" style="margin-bottom:40px;">
    <ion-item *ngFor="let d of diseases; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <h3 class="commom-text" style="color:darkslateblue;">
        <ion-icon item-start [name]="isGroupShown(i) ? 'md-remove' : 'md-add'"></ion-icon>
        <b>{{d.title}}</b>
      </h3>
      <div *ngIf="isGroupShown(i)" class="common-text" style="padding-top:2vw; padding-bottom:5vw;"><ion-icon name="md-calendar" style="height:5vw;width:5vw;float:left;"></ion-icon>&nbsp;&nbsp;&nbsp;{{d.date}}</div>
      <div *ngIf="isGroupShown(i)" class="common-text" style="padding-top:2vw; padding-bottom:5vw;"><img src="assets/icon/rupee.png" style="height:4vw;width:4vw;float:left;">&nbsp;&nbsp;&nbsp;{{d.price}}
        <button ion-button style="float:right;background-color:darkslateblue !important;" (click)="registerworkshop()">Register</button>
      </div>
    </ion-item>
  </ion-card>

</ion-content>