// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



app-container {
.heading-text{
 font-size: 5vw !important;
}
.description-text{
 font-size: 4vw !important;
}
.common-text{
  font-size: 3.5vw !important; 
  color:color($colors,lightgraycolor);
}
.small-text{
    font-size: 3vw !important;
}
.very-small-text{
    font-size: 2vw !important;
}
    .tabs-md .tab-button[aria-selected=true] ,.tabs-ios .tab-button[aria-selected=true] {
        color:darkslateblue;
    }

    .tabs-md .tab-button[aria-selected=true] .tab-button-icon, .tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
        color:darkslateblue;
    }
    .toolbar-background-md,.toolbar-background-ios{
        background: darkslateblue;
    }
    .bar-button-default-md,.bar-button-default-ios{
        color:white;
    }
    .toolbar-title-md ,.toolbar-title-ios {
        color:white;
    }
    .label-md,.label-ios{
        font-size: 13px;
    }
    .app-background{
        background-color: #f8fdff;
    }
    .scrollable {
        overflow-y: scroll;
        overflow-x: scroll;
    }
    .label-md,.label-ios{
     white-space: normal;
     margin: 0px !important;
    }

    .button-clear-md,.button-clear-ios{
        color: color($colors, mainColor);
        padding: 5vw;
    } 

    .fab-md,.fab-ios{
        background-color: color($colors, mainColor) !important;
        width: 12vw;
        height: 12vw;
    }
    .fab ion-icon{
     font-size: 8vw;
    }
    .toolbar-md,.toolbar-ios{
        min-height: 50px!important;
    }
    .scroll-content{
        //margin-top: 50px!important;
        margin-bottom: 40px!important;
    }
    .tabs-md .tab-button,.tabs-ios .tab-button{
        min-height: 5.0rem!important;
    }
    .swiper-pagination-bullet-active{
        background: darkslateblue!important;
    }
    .UserInfo{
        padding:20px 10px 10px 20px;
        background-color: darkslateblue;
    }
    .IconSize{
        font-size: 5.0rem;
        color: white;
    }
    .nameTitle{
        color: white;
        font-size: 1.4rem;
    }
    .emailTitle{
        color: white;
        font-size: 1.3rem;
    }
    .item-md ion-icon[item-start] + .item-inner{
        margin-left: 5px;
    }
    .menuItems{
        padding-left: 16px;
    }
    .navlist-item {
        vertical-align: middle;
        color: lightgray;
        padding: 0px;
      }
      .list-md .item-block .item-inner {
        border-bottom: 0px solid #dedede!important;
      } 
}
    

