// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



app-container {

    
.heading-text{
 font-size: 5vw !important;
}
.description-text{
 font-size: 4vw !important;
 font-family: 'Nunito', sans-serif;
}
.common-text{
  font-size: 3.5vw !important; 
  color:color($colors,lightgraycolor);
  font-family: 'Nunito', sans-serif;
}
.small-text{
    font-size: 3vw !important;
    font-family: 'Nunito', sans-serif;
}
.very-small-text{
    font-size: 2vw !important;
    font-family: 'Nunito', sans-serif;
}
.menu-list {
    margin-bottom: 0px !important;
}

.toolbar-title-md,.toolbar-title-ios{
    font-size: 5vw !important;
  }
    .tabs-md .tab-button[aria-selected=true] ,.tabs-ios .tab-button[aria-selected=true] {
        color:darkslateblue;
    }

    .tabs-md .tab-button[aria-selected=true] .tab-button-icon, .tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
        color:darkslateblue;
    }
    .toolbar-background-md,.toolbar-background-ios{
        background: darkslateblue;
    }
    .bar-button-default-md,.bar-button-default-ios{
        color:white;
    }
    .toolbar-title-md ,.toolbar-title-ios {
        color:white;
    }
    .label-md,.label-ios{
        font-size: 13px;
    }
    .app-background{
       background-color:#F1f6f9;
        //background-color: #eeeeee;
    }
    .scrollable {
        overflow-y: scroll;
        overflow-x: scroll;
    }
    .label-md,.label-ios{
     white-space: normal;
     margin: 0px !important;
    }

    .button-clear-md,.button-clear-ios{
        color: color($colors, mainColor);
        padding: 5vw;
    } 
    
    .btn-contribute{
        padding:2vw;
        background-color:transparent;
        border: 2px solid white;
        color:white; 
        margin-right: 5vw;
        font-size: 4vw;
        vertical-align: center;
        float:right;
        border-radius: 1vw;
        margin-top:4vw !important;
    }

    .button-md:hover:not(.disable-hover) {
        background-color: darkslateblue;
      }

    .fab-md,.fab-ios{
        background-color: color($colors, mainColor) !important;
        width: 12vw;
        height: 12vw;
    }
    .fab ion-icon{
     font-size: 8vw;
    }
    .toolbar-md,.toolbar-ios{
        min-height: 50px!important;
    }
    // .scroll-content{
    //     //margin-top: 50px!important;
    //     margin-bottom: 40px!important;
    // }
    .tabs-md .tab-button,.tabs-ios .tab-button{
        min-height: 5.0rem!important;
    }
    .swiper-pagination-bullet-active{
        background: darkslateblue!important;
    }
    .UserInfo{
        padding:25px 10px 12px 20px;
        background-color: darkslateblue;
        height:40vw;
    }

    .menu-list {
      margin-top: 40vw;
      padding-bottom: 14vw;
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      overflow-y: scroll;
      position: fixed;
      z-index: 0;
      top: 0;
      bottom: 0;
    }

    .no-scroll {
    .scroll-content {
      overflow: hidden;
      position: fixed;
     }
    }

    .item-md,.item-ios {
       border-bottom: 1px solid #eeeeee;
    }

    .button-md,.button-ios{
        text-transform: capitalize;
    }
    .menu-icons {
      margin-left: 16px;
      height: 20px;
      width: 20px;
    }

    .menu-inner{
        width:285px !important;
    }

    .navlist-item {
      vertical-align: middle;
      color: color($colors, lightgray);
      padding: 0px;
     }
    .IconSize{
        font-size:15vw;
        color: white;    
    }
    .menu-icon{
        font-size:8vw ;
    }
    .nameTitle{
        color: white;
    }
    .item-md ion-icon[item-start] + .item-inner{
        margin-left: 5px;
    }
    .menuItems{
        padding-left: 20px;
    }
    .navlist-item {
        vertical-align: middle;
        color: lightgray;
        padding: 0px;
      }
    .list-md .item-block .item-inner {
        border-bottom: 0px solid #dedede!important;
      } 
    .menu-list{
        margin-bottom: 5px;
    }
    .logout-rateus{
      width: 100%;
      position: fixed;
      bottom: 0;
  }

  .rate-us{
    color: white;
    width: 40%;
    float: left;
    padding: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background: darkcyan;
  }

  .logout-btn {
    width: 60%;
    float: left;
    padding: 12px;
    background:darkslateblue;
    color: white;
    text-align: center;

  }

  .centre-align {
    width: 100%;
    height: 50vw;
    padding: 5vw;
    margin-left: 0 auto;
    text-align: center;
    background: darkslateblue
  }
  .image-icon {

    height: 80px;
    width: 80px;
    border-radius: 40px;
  }
  .menu-image {
    height: 50px;
    width: 50px;
    border-radius: 40px;
 }
  .user-name {
    color: #ffffff;
  }
  .user-degree {
    color: white;
  }
}
    

