page-Step2{
    .HeaderBackground{
        height:28vw;
        width: 100%;
        background-color:darkslateblue;
    }
    .back-button{
        color: white;
    }
    .toolbar-title-md, .toolbar-title-ios{
        color: white;
        font-family: sans-serif;
        text-transform: none;
    }
    .header-md::after,.header-ios::after{
        height: 0px;
    }

   .logo{
       position: relative;
       bottom: 0px;
       width: 28vw;
       height: 28vw;
       margin-top: -50px;
       background:rgb(47, 164, 231);
       border-radius: 50%;
   }


   .logoStyle{
    text-align:center;  
    background-color:white;
    margin-bottom: 15px;
   }
   .verifynoText{
       font-size: 1.8rem;
       font-weight: bold;
   }
   .verifyText{
       padding: 5vw;
       white-space: normal;
       color:darkslateblue;
   }
   .borderT{
       text-align: center;
       border-bottom: 1px solid darkgray;
   }
   .btnResend{
       background-color: lightgray;
       color: darkgray;
     }

   .btnChange{
        background-color: darkslateblue;
        color: white;
   }
   .btnVerifyOTP{
       margin-top:10vw;
       background-color:darkslateblue;
        color: white;
        text-transform: capitalize;
    }
    .button-md:hover:not(.disable-hover) {
        background-color: darkslateblue;
       }

    
}