page-checkout{
    .summaryText{
        color: darkslateblue;
        background-color: #eeeeee;
        padding:8px;
        border-bottom: 0.2px solid darkgray;
    }
    .paymentContent1{
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
    }
    .paymentContent2{
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        margin-bottom: 5px;
        color: darkgray;
    }
    .freeText{
        color: darkgreen;
    }
    .amountText{
        color: darkslateblue;
    }
    .item-md,.item-ios {
        padding-left: 8px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .borderFinal{
        border-bottom: 0.2px solid darkgray;
        border-top: 1.5px dashed darkgray;
    }
    .savingAmount{
        color: darkslateblue
    }
    .savingAmountText{
        color: darkslateblue
    }

    .item-md ion-icon[item-start] + .item-inner,.item-ios ion-icon[item-start] + .item-inner{
        margin-left: 4px;
    }
    .delivAddressText{
        color: darkslateblue;
    }
    .iconColor{
        color: darkgray!important;
    }
    .card-content-md,.card-content-ios{
        padding-left: 4.6rem;
    }
    .addressNickName{
        font-size: 1.6rem;
        font-weight: bold;
    }
    .cardContentAddress{
        color: darkgray;
    }
    .checkbox-md .checkbox-icon,.checkbox-ios .checkbox-icon{
        border-radius: 50%;
        padding: 5px;
    }
    .item.item-md .checkbox-md,.item.item-ios .checkbox-ios{
        margin-right:10px;
    }
    .checkbox-md-dark .checkbox-checked,.checkbox-ios-dark .checkbox-checked {
        border-color: darkslateblue;
        background-color: darkslateblue;
    }

    .btnConfirm{
        background-color: darkslateblue;
        width: 95%;
        margin-left: 10px;
        margin-right: 10px;
    }
}