page-readcomments {

    .content-style{
        height:auto;
        background-color: color($colors,light) !important;
        border-radius: 2px;
        color:color($colors,lightgraycolor);
        padding: 1vw;
      }

}
