page-answer {
.question-div{
    background-color:color($colors,groundcolor);
    color:color($colors,darkgraycolor);
    min-height: 20vw;
    padding: 2vw;
}
.avtar-size{
       width: 10vw;
       height:10vw;
       border-radius: 50%;
}

.reply-icon-color{
     color:white;
}

}
