page-eventdetail {

    .divcontent{
        height: 45vw;
        width: 100%;
        overflow-y:hidden;
    }

    .mybtn-color{
        background-color: darkslateblue;
     }

     .category-span{
        border:1px solid gray;
        border-radius: 5px;
        padding: 1vw;
    }

    .term-card{
        width:100% !important;
    }

    .button-md,.button-ios{
      text-transform: capitalize;
    }

    .card-ios,.card-md {
         margin: 0px !important; 
         border-radius: 0px !important; 
         width:auto !important; 
    }
    
    .scroll-content {
    margin-bottom: 55px !important;
    }

}
