page-event-registerform {

   .button-md,.button-ios{
      background-color: darkslateblue !important;
      height:10vw;
      color:white;
    }

     .divcontent{
        height: 45vw;
        width: 100%;
        overflow-y:hidden;
    }



}
