page-events {
    .app-background{
        background-color: #eeeeee;
    }

    .heading-selected {
        color: #ffffff;
        border-bottom:2px solid #ffffff;
    } 
    
    .event-header {
        background:darkslateblue;
        padding-top: 15px;
        height:42px;
    }

    .event-heading {
        width: 50%;
        float: left;
        text-align: center;
        color: white;
    } 
    
    .mybtn-color{
        background-color: darkslateblue;
    }

    .scroll-content{
        margin-top:90px!important;
    }
     
    .swiper-slide {
        align-items: flex-start !important;
    } 
      
    .card-content-ios,.card-content-md{
        padding:2vw;
        text-align: left
        
    }  

    .my-padding{
        padding: 0px;
    }

    .button-ios,.button-md{
        height: 10vw;
        padding: 5px; 
        background-color: darkslateblue !important; 
    }

    .divcontent{
       height: 30vw;
       width: 100%;
       overflow-y:hidden;
    }
   
   .card-content-md,.card-content-ios{
      padding: 2vw !important;
    }

    .card-md,.card-ios{
      width: calc(100% - 10px) !important;
      margin: 5px !important;
    }

    .button-md,.button-ios{
      text-transform: capitalize;
    }

    .filter-style{
        height:12vw;
        text-align: center;
    }

    .icon-size{
       font-size: 6vw;
       color:darkslateblue;
       background-color: #ffffff;
    }
    
    .row{
        background-color: #ffffff;
        padding: 1vw; 
    }



}

